$gray1: #a9a9a9;
$gray2: #575757;
$gray3: #202020;

$orange: #e8900c;

$maroon: #730d0d;

$yellow: #d9dc1e;

$transparentGray: rgba(233,233,233,.85);

// Infographic colors
$infoOrange: #E8900C;
$infoTeal: #7BD6EB;
$infoGreen: #1BB5A5;
$infoPurple: #9B5DB5;
$infoYellow: #EBEA99;
$infoRed: #E85548;
$infoBrown: #826A5C;
